.c-opinions {

	&__content {
		@extend %font-serif;
		width: 100%;
		margin-bottom: 6rem;
		color: white;
	}
	
	.swiper-wrapper {
		@media screen and ( min-width: $base + 1px ) {
			padding: 0 calc( (100% - 990px) / 2) ;
		}
		
		@media screen and ( max-width: 1180px ) {
			width: 100%;
			
		}
	}
	
	.swiper-slide {
		@media screen and ( max-width: 1180px ) {
			padding: {
				left: 95px;
				right: 95px;
			}
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			padding: {
				left: 30px;
				right: 30px;
			}
		}
	}

	header {
		@extend %rel;
		margin-bottom: 3rem;
	}
	
	h3 {
		span {
			@media screen and ( max-width: $smartphone_portrait + px ) {
				display: block;
			}
		}
	}
	
	h5 {
		@extend %abs;
		left: 0; top: -.9rem;
		font-size: rem(20);
		transition-delay: 2s;
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			font-size: rem(30);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			top: -1.7rem;
		}
	}
	
	blockquote {
		color: $c-gray2;
		
		p {
			@extend %rel;
			margin-bottom: 2rem;
			line-height: 1.4;
			font-size: rem(18);
		
			@media screen and ( min-width: $tablet + 1px ) {
				font-size: rem(30);
			}

			@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
				font-size: rem(24);
			}
			
			&:before {
				@extend %abs;
				display: block;
				left: -14px;
				content: '“';
			}
			
			&:after {
				content: '”';
			}		
		}
		
		span {
			@extend %rel;
			display: block;
			font-size: rem(14);
			
			@media screen and ( min-width: $tablet + 1px ) {
				font-size: rem(18);
			}
			
			@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
				font-size: rem(16);
			}
			
			&:before {
				content: '― ';
			}
		}
	}
	
	br {
		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}
	}
	
	.c-logo {
		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}
}