.c-portfolio {
	@extend %flex;
	@extend %rel;
	flex-wrap: wrap;

	&__item {
		will-change: opacity;
		@extend %anim;
		@extend %rel;
		display: block;
		height: 0;
		overflow: hidden;
		background-color: black;
		//border-bottom: 1px solid black;
		
		& + & {
			&:after {
				@extend %abs-after;
				left: 0; top: 0;
				width: 100%; height: 1px;
				background-color: black;
			}
			border-bottom: none !important;
		}
		
		img {
			@extend %anim;
			@extend %abs;
			top: -2%; left: -2%;
			width: 104%;
			height: auto;
			max-width: none;
		}
		
		&--big {
			padding-bottom: 60%;
		}
		
		&--narrow {
			padding-bottom: 120%;
			
			border-bottom: none !important;
		}
		
		&--small {
			padding-bottom: 60%;
		}
		
		&:hover {
			@media screen and ( min-width: $tablet + 1px ) {
		
				.desktop & {
					img {
						filter: blur(2px);
						opacity: .3;
					}
					
					.c-portfolio__details {
						opacity: 1;
						
						p {
							transform: translateY(0);
						}
					}
				}
			}
		}
	}
	
	&__box {
		width: 25%;
		overflow: hidden;
		
		&:not(:first-of-type) {
			padding-left: 1px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			width: 50%;
		}

		&--big {
			width: 50%;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				width: 100%;
			}
		}
		
		img {
			//width: 100%;
		}
	}
	
	&__details {
		@extend %anim;
		@extend %abs;
		@extend %flex;
		z-index: 1;
		left: 25px; top: 25px;
		width: calc(100% - 50px);
		height: calc(100% - 50px);
		border: 1px solid rgba(white, .6);
		color: white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		
		@media screen and ( max-width: 1180px ) {
			left: 20px; top: 20px;
			width: calc(100% - 40px);
			height: calc(100% - 40px);
		}

		p {
			@extend %anim;
			transform: translateY(10px);
		}
		
		.icon-code {
			padding: 0 10px;
			font-size: rem(48);
			
			.c-portfolio__item--small & {
				font-size: rem(30);
				
				@media screen and ( max-width: 1180px ) {
					font-size: get-vw-1180(30);
				}
				
			}
		}
		
		a {
			&:hover {
				color: $c-red-1;
			}
		}
	}
	
	&__title {
		@extend %font-serif;
		font-size: rem(42);
		
		.c-portfolio__item--narrow & {
			@media screen and ( max-width: 1180px ) {
				font-size: get-vw-1180(42);
			}
		}
		
		.c-portfolio__item--small & {
			font-size: rem(30);
			
			@media screen and ( max-width: 1180px ) {
				font-size: get-vw-1180(30);
			}
		}
	}
	
	&__subtitle {
		margin-bottom: 10px;
		
		.c-portfolio__item--narrow & {
			@media screen and ( max-width: 1180px ) {
				font-size: get-vw-1180(18);
			}
		}
		
		.c-portfolio__item--small & {
			font-size: rem(16);
			
			@media screen and ( max-width: 1180px ) {
				margin-bottom: get-vw-1180(10);
			}
		}
	}
}