.c-thing {
	@extend %rel;
	
	h3 {
		@extend %font-serif;
		margin-bottom: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media screen and ( min-width: $tablet_portrait + 1px ) {
			margin-bottom: 20px;
		}
	}
	
	.c-logo {
		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}
}